# lets deny all git add
*~
*.dll
*.pdb
*.doc
*.EAP
*.suo
*.obj
*.OBJ
*.msi
*\Debug\*
*\Release\*
*\obj\*
*\bin\*
*\lib\*
*\~*
*\logs\*
packages

Build/Tools/Deploy

#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.Publish.xml
*.dbmdl
*.GhostDoc.xml
.vs

*.include
*.DotSettings
*.pyc

# ignore Coverity Analyze files and directories created during Static Analysis runs
*CoverityAnalyze
*coverity_data
.cov/
data-coverity/

!Build/Tools/ReleaseScripts